<nav id="nav">
    <ul class="links">
        {% if current == 'home' %}
            <li class="active"><a href="{{ url_for('home') }}">The LightHouse</a></li>
        {% else %}
            <li><a href="{{ url_for('home') }}">The LightHouse</a></li>
        {% endif %}

        {% if current == 'subjects' %}
            <li class="active"><a href="{{ url_for('subjects') }}">The LightBearers</a></li>
        {% else %}
            <li><a href="{{ url_for('subjects') }}">The LightBearers</a></li>
        {% endif %}


        {% if current_user.is_authenticated %}
            {% if current == 'create' %}
                <li class="active"><a href="{{ url_for('create') }}">Create Post</a></li>
            {% else %}
                <li><a href="{{ url_for('create') }}">Create Post</a></li>
            {% endif %}
        {% endif %}


    </ul>
    <form class="d-flex" method="POST" role="search" action="{{ url_for('search') }}">
        {{ form.hidden_tag() }}
        <input name="searched" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="color: black;">
        <button class="btn btn-outline-success" type="submit" style="height: 43px;">Search</button>
    </form>

</nav>